.preview::after{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    content: '';
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5;
}
.preview{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}