.movie_container{
    padding: 2rem;
}

.movie_image_video_container{
    display: flex;
    gap: 2rem;
    flex-flow: row;
    position: relative;
}
.movie_image_video_container .movie_image{

    max-width: 20vw;
    height: 23rem;
    display: none;

}

.movie_image_sm{
    /* display: none; */
    width: 10rem;
}
.movie_image_video_container .movie_video{
    /* position: absolute; */
}
.genres{
    display: none;
}
.show_image_video{
    display: none;
}
.small_show_image_video{
    display: flex;
}

@media (width < 1013px) {
    .inner_movie_container{
        width: 90vw;
        padding-right: 2rem;
    }
}
@media ( width > 1013px) {
    .inner_movie_container{
        width: 70vw;
    }
}
@media (width > 704px){
    .movie_container{
        display: grid;
        place-items: center;
    }
    .show_image_video{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
    }
    .show_image_video div{
        height: 48%;
        background-color: rgb(42, 47, 51);
        width: 100%;
        cursor: pointer;
    }
    .small_show_image_video{
        display: none;
    }
    .movie_image_sm{
        display: none;
    }
    .movie_image_video_container .movie_image{
        display: block;
    }
    .genres_sm{
        display: none !important;
    }
    .genres{
        display: flex;
    }
}

@media (width < 896px) {
    .show_image_video{
        display: none;
    }
    .small_show_image_video{
        display: flex;
        gap: .5rem;
        margin-top: 1rem;
    }
    .small_show_image_video div{
        background-color: rgb(42, 47, 51);
        width: 50%;
        height: 5rem;
        cursor: pointer;
    }
}