@tailwind base;
@tailwind components;
@tailwind utilities;

/* universal */
body{
  overflow-x: hidden;
}

button,
img,
svg{
  cursor: pointer;
}

/* sidebar */

.sidbear:hover{
 
}
.sidebar::-webkit-scrollbar{
  width: .4rem;
}
.sidebar::-webkit-scrollbar-thumb{
  background-color: rgba(236, 228, 228, 0.642);
  border-radius: 1rem;
}

.sidebaropen{
  position: relative;
}
.sidebaropen::after{
  height: 116vh;
  width: 100vw;
  content: '';
  background: rgba(0, 0, 0, 0.827);
  position: fixed;
  z-index: 10;
  top: -5rem;
}


/* hero-section */
/* hero-section image slider */

.hero-section-image-slider-overlay{
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 46%, rgba(0,0,0,0.7792366946778712) 87%, rgba(0,0,0,0) 100%);
}


